<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ae.apps.aeappslibrary"
    android:versionCode="36"
    android:versionName="2.1.1" >

    <!--<uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>-->

</manifest>
